.btn-xl {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.75rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}
.header {
    background: linear-gradient(#9013FE,#6A10F3);
}
#page-container {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
}

#page-content {
    border: 1px solid blue;
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.center-form form{
    border: 1px solid green;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;

}