<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Olsker Cupcakes')}"></head>
<body class="">
<div class="container">
  <header th:replace="~{fragments :: header}"></header>
  <div class="content bg-light rounded-4 p-5">
    <h1 class="display-1">Velkommen ombord</h1>
    <p th:if="${#ctx.message!=null}" th:text="${#ctx.message}" class="bg-warning bg-gradient">Fejlbeskeder vises her</p>
    <p class="h2 mb-5">Øens bedste cupcakes. Vælg og bestil her:</p>
    <form>
      <div class="row px-3 g-5 mb-5">
        <div class="col-5">
          <div class="form-floating">
            <select class="form-select " name="chooseBottom" id="chooseBottom" required>
              <option selected>Vælg bund</option>
              <option value="vanilie">Vanilie</option>
              <option value="chokolade">Chokolade</option>
            </select>
            <label for="chooseBottom">Vælg bund</label>
          </div>
        </div>
        <div class="col-5">
          <div class="form-floating">
            <select class="form-select " name="chooseTop" id="chooseTop" required>
              <option selected>Vælg topping</option>
              <option value="smørcreme">Smørcreme</option>
              <option value="bær">Skovbær</option>
            </select>
            <label for="chooseTop">Vælg topping</label>
          </div>
        </div>
        <div class="col-2">
          <div class="form-floating">
            <select class="form-select" name="chooseAmount" id="chooseAmount" required>
              <option selected>Vælg antal</option>
              <option value="3">3</option>
              <option value="6">6</option>
            </select>
            <label for="chooseAmount">Vælg antal</label>
          </div>
        </div>
      </div>
      <div class="row px-3 ">
        <div class="col-auto ms-auto">
          <button class="btn btn-xl btn-primary" type="submit">Læg i kurv</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
